@import url(http://fonts.googleapis.com/css?family=Lato:300,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import "variables.less";
@link-color: #001F3F;
@icon-font-path:          "../fonts/bootstrap/";
@font-family-base: "PT Serif", "Palatino", "Georgia";
@font-size-base: 14px;
@headings-font-weight:    700;
@import "mixins.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
// @import "dropdowns.less";
// @import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";
@import "labels.less";
@import "badges.less";
@import "jumbotron.less";
@import "thumbnails.less";
@import "alerts.less";
// @import "progress-bars.less";
@import "media.less";
@import "list-group.less";
@import "panels.less";
@import "responsive-embed.less";
@import "wells.less";
// @import "close.less";

// Components w/ JavaScript
// @import "modals.less";
// @import "tooltip.less";
// @import "popovers.less";
// @import "carousel.less";

// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

@media (min-width: @screen-sm-min) {
  .media { margin-top: 0; }
}


.content-main {
	min-height: 60em;
	section {
		padding: @padding-large-vertical @padding-large-horizontal;
		

		&:nth-child(2n) {
			background-color: fadeout(@gray-lighter, 80%);
		}

		&+ section {
			border-top: 1px dashed fadeout(@link-color, 60%);	
		}
	}
}

.footer-content {
	padding: @padding-large-vertical @padding-large-horizontal;
	background-color: @link-color;
	color: fadeout(@gray-lighter, 20%);
	a { 
		color: mix(@link-color, @gray-lighter, 50%);
	}
}