{{ template "theme/partials/header.html" . }}
<div class="content-main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ .Title }}</h2>


                    <div class="thumbnail col-xs-6">
                        <img src="{{ .Site.BaseUrl }}/img/{{ .Params.image}}">
                    </div>
    
                    <div class="col-xs-6">
                    {{ partial "song" .Params.song }} {{ .Content }}

                    {{ if isset .Params "homepage" }}<a href="{{ .Params.homepage }}" target="_blank">See the result here: {{ .Params.homepage }}</a>{{ end }}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
{{ template "theme/partials/footer.html" . }}
