{{ template "theme/partials/header.html". }}
<div class="content-main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{ .Title }}</h2>


                    <div class="thumbnail col-xs-3">
                        <img src="{{ .Site.BaseUrl }}/img/{{ .Params.image}}">
                    </div>
    
                    <div class="col-xs-9">
                    {{ partial "song" .Params.song }} {{ .Content }}
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>{{ template "theme/partials/footer.html". }}