{{ template "theme/partials/header.html". }}

<div class="content-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>
                    In order to keep an overview of all the things I do
                    <del>on a computer</del> I made this page.
                </p>
                <p>
                    What you are seeing is the main entry point from which each individual piece of my works can be reached.
                </p>
                <p>
                    Most of these projects are collaborative efforts. The whole is divided into rough chapters that map to periods of my life in the
                    <del>computing</del> world, others might say this is a curriculum vitae, I would rather call it a living document:
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content-main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h3 id="in-progress"><span class="glyphicon glyphicon-play"></span>&nbsp;Current<br>
                        <small>All I am working on right now. If this is too much, I'll risk failing at some or abandoning others.</small>
                      </h3>
                    <div class="row">
                        {{ range $index, $element := .Site.Taxonomies.states.in_progress.Pages }}
                        {{ if not (mod $index 3) }}<div class="clearfix visible-lg-block"></div>{{ end }}
                        {{ if not (mod $index 2) }}<div class="clearfix visible-md-block"></div>{{ end }}
                        {{ $element.Render "media" }}
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h3 id="past"><span class="glyphicon glyphicon-stop"></span>&nbsp;Past
                        <br>
                        <small>
                                   Everything that is considered "done".</small>
                    </h3> {{ range .Site.Taxonomies.states.done.Pages.GroupByDate "2006" }}
                    <h4>{{ .Key }}</h4>

                    <div class="row">
                        {{ range .Pages }} {{ .Render "media" }} {{ end }}
                    </div>
                    {{ end }}

                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h3 id="failed"><span class="glyphicon glyphicon-pause"></span>&nbsp;Failed<br>
                  <small>
                    Things I tried, but didn't finish or simply abandon. Lessons I learned from these projects.
                  </small></h3> {{ range .Site.Taxonomies.states.failed.Pages.GroupByDate "2006" }}
                    <h4>{{ .Key }}</h4>

                    <div class="row">
                        {{ range .Pages }} {{ .Render "media" }} {{ end }}
                    </div>
                    {{ end }}

                </div>
            </div>
        </div>
    </section>
</div>

</div>
{{ template "theme/partials/footer.html" .}}
